.container{
    font-size: 13px;
  }
  .row {
      padding-top: 56px;
    }
    .card-img-top{
        width:800px;
    }
    
    @media screen and (max-width: 600px) {
      .container{
        font-size:10px;
      }
      .card-img-top{
        width:800px;
        height: 200px;
      }
      .card{
        width: 80%;
        margin: 0 auto;
      }
      .mt-4 {
        margin-top: 4.5rem!important;
    }
    }
  