<div class="container">
    <div class="row text-right">
  
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8">
        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="..//assets/images/shenkar.jpg" alt="">
          <div class="card-body">
            <h1 class="card-title">מחוברים לחיים</h1>
            <hr>
            <p class="card-text">מערכת מחוברים לחיים נבנתה כחלק מפרוייקט הגמר של המחלקה להנדסת תוכנה במכללת שנקר </p>
            <p class="card-text">צוות הפרוייקט: אורי עזריאל, יוסי אפרים ושלומי שלוש</p>
            <p class="card-text">מנחה הפרויקט: מר' יצחק נודלר</p>
            <hr>
            <p class="card-text"> :בכל שאלה ו/או הערה ניתן לשלוח אימייל לכתובת</p>
            <p class="card-text">shlomi3303@gmail.com</p>
          </div>
        </div>
      </div>
    </div>