<div class="container">
    <h3 class="text-right"> טופס טרמפ</h3>
  
  <form novalidate class="form-horizontal text-right" #rideForm = "ngForm" (ngSubmit)="onSubmit(rideForm.value)">
     <div class="row">
       <div class="col-md-6">
          <div class="form-group">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-primary btn-lg active" (click) ="onChange(1)" >
                    <input type="radio" name="options" id="option1" autocomplete="off" [value]="1" checked> צריך עזרה?
                  </label>
                  <label class="btn btn-primary btn-lg" (click) ="onChange(2)">
                    <input type="radio" name="options" id="option2" autocomplete="off" [value]="2" > רוצה לסייע?
                  </label>
                </div>
           </div>
           <div class="form-group">
              <label> כותרת</label>
              <input type="text" #title="ngModel" minlength="2" required class="form-control" name="title" [(ngModel)]="rideInfo.title">
              <div [hidden]="title.valid || title.pristine " class="alert alert-danger">
                  הכנס כותרת
              </div>
          </div>

          <div class="form-group">
              <label>תיאור</label>
              <input type="text" #description="ngModel" minlength="2" required class="form-control" name="description" [(ngModel)]="rideInfo.description">
              <div [hidden]="description.valid || description.pristine " class="alert alert-danger">
                  הכנס תיאור
              </div>
          </div>
          <div class="form-group">
              <label>מוצא</label>
              <select class="form-control" required name="city" [(ngModel)]="rideInfo.startCity">
                <option value="" selected disabled hidden> בחר עיר...</option>
                <option *ngFor="let city of cities"
                  [value]="city.name"> {{city.name}} </option>
                   <!-- צריך להשלים חיווי -->
              </select>
            </div>
            <div class="form-group">
                <label> כתובת מוצא</label>
                <input type="text" #stRef1="ngModel" minlength="2" required class="form-control" name="street1" [(ngModel)]="rideInfo.startStreet">
                <div [hidden]="stRef1.valid || stRef1.pristine " class="alert alert-danger">
                    הכנס כתובת
                </div>
              </div>
              <div class="form-group">
                <label>מספר דירה</label>
                <input type="number" #hosueRef1="ngModel" minlength="2" required class="form-control" name="house" [(ngModel)]="rideInfo.startHouseNumber">
                <div [hidden]="hosueRef1.valid || hosueRef1.pristine " class="alert alert-danger">הכנס מספר דירה</div>
              </div> 
            <div class="form-group">
                <label>יעד</label>
                <select class="form-control" required name="city" [(ngModel)]="rideInfo.endCity">
                  <option value="" selected disabled hidden> בחר עיר...</option>
                  <option *ngFor="let city of cities"
                    [value]="city.name"> {{city.name}} </option>
                     <!-- צריך להשלים חיווי -->
                </select>
              </div>
          
            <div class="form-group">
                <label> כתובת יעד</label>
                <input type="text" #edRef2="ngModel" minlength="2" required class="form-control" name="street2" [(ngModel)]="rideInfo.endStreet">
                <div [hidden]="edRef2.valid || edRef2.pristine " class="alert alert-danger">
                    הכנס כתובת
                </div>
              </div>
              <div class="form-group">
                <label>מספר דירה</label>
                <input type="number" #hosueRef2="ngModel" minlength="2" required class="form-control" name="house" [(ngModel)]="rideInfo.endHouseNumber">
                <div [hidden]="hosueRef2.valid || hosueRef2.pristine " class="alert alert-danger">הכנס מספר דירה</div>
              </div>      
              <div class="form-group">
                  <label>זמן התחלה</label>
                  <input type="date" #startTimeDate="ngModel" required class="form-control" id="startTimeDate" name="startTimeDate" [(ngModel)]="timeInfo.startTimeDate">
                  <input type="time" #startTimeHour="ngModel" required class="form-control" id="startTimeHour" name="startTimeHour" [(ngModel)]="timeInfo.startTimeHour">
                  <div [hidden]="startTimeDate.valid || startTimeDate.pristine || startTimeHour.valid || startTimeHour.pristine " class="alert alert-danger">
                  הכנס טווח שעות
                  </div>
                </div>

                <div class="form-group">
                    <label> זמן סיום</label>
                    <input type="date" #endTimeDate="ngModel" required class="form-control" id="endTimeDate" name="endTimeDate" [(ngModel)]="timeInfo.endTimeDate">
                    <input type="time" #endTimeHour="ngModel" required class="form-control" id="endTimeHour" name="endTimeHour" [(ngModel)]="timeInfo.endTimeHour">
                    <div [hidden]="endTimeDate.valid || endTimeDate.pristine || endTimeHour.valid || endTimeHour.pristine " class="alert alert-danger">
                    הכנס טווח שעות
                    </div>
                  </div>
              <div class="form-group">
                  <label>שפה</label>
                <select class="form-control" required name="language" [(ngModel)]="rideInfo.language">
                  <option value="" selected disabled hidden> בחר שפה...</option>
                  <option *ngFor="let language of languages"
                    [value]="language"> {{language}} </option>
                     <!-- צריך להשלים חיווי -->
                </select>
                </div>    
              <div class="form-group">
                  <label>מין</label>
                  <select class="form-control" required name="gender" [(ngModel)]="gender">
                    <option value="" selected disabled hidden> בחר מין...</option>
                    <option *ngFor="let gender of genders"
                      [value]="gender"> {{gender}} </option>
                       <!-- צריך להשלים חיווי -->
                  </select>
                </div>  
                <div class="form-group text-right">
                    <div class="col-md-6">
                        <button [disabled]="!rideForm.form.valid" type="submit" class="btn btn-primary">
                            הרשמה
                        </button>
                    </div>
                </div>   
      
              </div>
              <div *ngIf="!userInterest.isApplication" class="col-md-6">
                      <div class="card-deck">
                            <input [(ngModel)]="searchText" name="searchBox" class="search text-right" placeholder="חיפוש לפי עיר">
                          <div class="col-md-6 mb-4" *ngFor="let element of randomRideApps| filter : searchText">
                              <img class="card-img-top img-fluid" src="..//assets/images/{{element.img}}.jpg" alt="Card image cap">
                              <div class="card-body text-right ">
                                  <h3 class="card-title royal-color"><b>{{element.title}}</b></h3>
                                  <p class="card-text">{{element.description}}</p>
                              </div>
                              <div class="card-footer text-center">
                                  <button (click)="productPage(element)" type="button" class="btn btn-primary royal-background-color">פרטים נוספים</button>
                              </div>
                        </div>
                    </div>
                  </div>
                  <div *ngIf="!userInterest.isOffer" class="col-md-6">
                        <div class="card-deck">
                              <input [(ngModel)]="searchText" name="searchBox" class="search text-right" placeholder="חיפוש לפי עיר">
                            <div class="col-md-6 mb-4" *ngFor="let element of randomRideOffs| filter : searchText">
                                <img class="card-img-top img-fluid" src="..//assets/images/{{element.img}}.jpg" alt="Card image cap">
                                <div class="card-body text-right ">
                                    <h3 class="card-title royal-color"><b>{{element.title}}</b></h3>
                                    <p class="card-text">{{element.description}}</p>
                                </div>
                                <div class="card-footer text-center">
                                    <button (click)="productPage(element)" type="button" class="btn btn-primary royal-background-color">פרטים נוספים</button>
                                </div>
                          </div>
                      </div>
                    </div>
            </div>
            <div class="row">
                    <h1>עשוי לעניין אותך...</h1>
                    <div class="card-deck">
                              <div class="col-md-3 mb-4" *ngFor="let element of rideSuggestionsApplication| filter : searchText">
                                  <img class="card-img-top img-fluid" src="..//assets/images/{{element.img}}.jpg" alt="Card image cap">
                                  <div class="card-body text-right ">
                                      <h3 class="card-title royal-color"><b>{{element.title}}</b></h3>
                                      <p class="card-text">{{element.description}}</p>
                                  </div>
                                  <div class="card-footer text-center">
                                      <button (click)="productPage(element)"  type="button" class="btn btn-primary royal-background-color">פרטים נוספים</button>
                                  </div>
                            </div>
                        </div>
                </div>
  
    </form>
  </div>