<section class="wrapper">
    <div class="container-fostrap">
        <div>
            <h1 class="heading form-horizontal">
                קטגוריות הסיוע
            </h1>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <div class="card">
                            <a class="img-card" routerLink="/elderlyForm">
                            <img src="..//assets/images/elderly.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title text-right">
                                    <a routerLink="/elderlyForm">עזרה לקשיש</a>
                                </h4>
                                <p class="text-right">
                                    מגוון עזרות כגון: קניות לבית, בישול, אוזן קשבת ועוד
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a routerLink="/elderlyForm" class="btn btn-link btn-block">
                                    פרטים נוספים
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="card">
                            <a class="img-card" routerLink="/studentForm">
                            <img src="..//assets/images/student.jpg" />
                          </a>
                            <div class="card-content text-right">
                                <h4 class="card-title">
                                    <a routerLink="/studentForm">עזרה לתלמיד</a>
                                </h4>
                                <p class="text-right">
                                    עזרו לדור הבא בשיעורי בית, הכנות למבחנים ועוד
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a routerLink="/studentForm" class="btn btn-link btn-block">
                                     פרטים נוספים
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="card">
                            <a class="img-card" routerLink="/rideForm">
                            <img src="..//assets/images/ride.jpg" />
                          </a>
                            <div class="card-content text-right">
                                <h4 class="card-title">
                                    <a routerLink="/rideForm">טרמפים </a>
                                </h4>
                                <p class="text-right">
                                    רוצים להוסיף לנסיעתכם ערך מוסף? עזרו לחולים ונזקקים להגיע ליעדם
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a routerLink="/rideForm" class="btn btn-link btn-block">
                                    פרטים נוספים 
                                </a>
                            </div>
                        </div>
                    </div>
                     <div class="col-xs-12 col-sm-3">
                        <div class="card">
                            <a class="img-card" routerLink="/handymanForm">
                            <img src="..//assets/images/Handyman.jpg" />
                          </a>
                            <div class="card-content text-right">
                                <h4 class="card-title">
                                    <a routerLink="/handymanForm">הנדימן</a>
                                </h4>
                                <p class="text-right">
                                    בעל יכולות טכניות? בוא ועזור לנזקקים במטלות הבית
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a routerLink="/handymanForm" class="btn btn-link btn-block">
                                     פרטים נוספים
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
